.sign-in {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-bottom: 20px;
  
    .buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }